#card{
    height: 25rem;
    border-radius: 2rem;
    border: 1px solid black;
    margin-top:3rem;
    gap: 3rem;
    display: flex;
    justify-content:center;
    align-items: end;
}

#content{
    width: 85%;
    height: 30%;
    border: 1px solid black;
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding-left: 2rem;
    background-color: white;
}